<%= stylesheet_link_tag "devise", :media => "all" %>

<div class="row">
	<div class="span9">
		<div id="deviseopacity"></div>
		<div id="offset">
			<h2 id="title">Resend Confirmation Instructions</h2>

			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <b id="bodytitles">Email</b><br />
			  <%= f.email_field :email, :autofocus => true %><br/>

			  <%= f.submit "Resend confirmation instructions", class: 'btn btn-danger' %>
			<% end %>

			<div id="links">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>
