<%= stylesheet_link_tag "devise", :media => "all" %>

<div class="row">
  <div class="span6">
    <div id="signupopacity"></div>
    <div id="offset">
      <h2 id="title">Sign up</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
        <span id="red">
          <%= devise_error_messages! %>
        </span>

          <span id="bodytitles">Name</span><br/>
          <%= f.text_field :name, :autofocus => true %><br/><br/>

        	<span id="bodytitles">Email</span><br/>
        	<%= f.email_field :email %><br/><br/>

        	<span id="bodytitles">Password</span><br/>
        	<%= f.password_field :password %><br/>

        	<span id="bodytitles">Password</span><br/>
          <%= f.password_field :password_confirmation %><br/><br/>

        	<%= f.submit "Sign up", class: 'btn btn-danger btn-small' %><br/><br/>

        	<div id="bodytitles">
        		<%= render "devise/shared/links" %>
        	</div>
      <% end %>

    </div>
  </div>
</div>