<%= stylesheet_link_tag "users", :media => "all" %>

<div class="row">
	<div class="span12">
		<div id="userstatopacity">
			<div id="userstatoffset">
				<h2><span id="usertitle"><%= @user.name %></span></h2>
				<div id="userstats">
					Bottle Caps = <%= @user.posts.count %><br/>
					<%= @user.name %>'s Comment's = <%= @user.comments.count %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div id="userpostsopacity">
			<center><h3><span id="userbeerstitle">Recently Drank Beers</span></h3></center>
			<div id="usersposts">
				<% @user.posts.each do |post| %>

					<span id="beername"><span id="drankbeers"><%= link_to post.beer.name, post.beer %></span></span>
					by <span id="drankbeers"><%= link_to post.brewery.name, post.brewery %></span><br/>

					<% if post.location.name != "" %>
						Location: <%= post.location.name %>
					<% elsif %>
						Location: One not provided.
					<% end %><br/>

					<% if post.beer.description != "" %>
						<br/><%= post.beer.description %>
					<% end %>

					<hr/>

				<% end %>

			</div>
		</div>
	</div>
</div>