<%= stylesheet_link_tag "devise", :media => "all" %>

<div class="row">
  <div class="span6">
    <div id="passwordopacity"></div>
    <div id="offset">
			<h2 id="title">Forgot your password?</h2>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <span id="red">
			  	<%= devise_error_messages! %>
			  </span>

			 	<span id="bodytitles">Email</span><br/>
			  <%= f.email_field :email, :autofocus => true %><br/><br/>

			  <%= f.submit "Send me reset password instructions", class: 'btn btn-small btn-danger' %><br/><br/>
			<% end %>

			<div id="bodytitles">
				<%= render "devise/shared/links" %>
			</div>

		</div>
	</div>
</div>
