<%= stylesheet_link_tag "sign_in", :media => "all" %>

<div class="signin">
  <div class="row">
    <div class="span6">
      <div id="signinopacity"></div>

      <center><h2 id="signintitle">Sign In</h2></center>
      <div class="signinpadding">

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <%= devise_error_messages! %>

            <div id="fields">

              <span id="bold">Email</span><br/>
              <%= f.email_field :email, :autofocus => true %><br/><br/>

              <span id="bold">Password</span><br/>
              <%= f.password_field :password %><br/><br/>

              <%= f.submit "Sign in", class: 'btn btn-danger' %><br/><br/>
            </div>
        <% end %>
      </div>
      <div id="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>