<%= stylesheet_link_tag "beers", :media => "all" %>

<div class="row">
	<div class="span6">
		<div id="beeropacity"></div>
		<div id="offset">
			<h1 id="beertitle"><%= @beer.name %></h1>
				<div class="media-body">
				<b id="bodytitles">Brewed By:</b><br />
				<span id="bodytitles">
					<span id="beerlinks"><%= link_to @beer.brewery.name, @beer.brewery %></span>
					<% if @beer.brewery.location.city != "" %>| <%= @beer.brewery.location.city %>, <% end %>
					<% if @beer.brewery.location.state != "" %> <%= @beer.brewery.location.state %> <% end %><br /><br />
				</span>

				<b id="bodytitles">Style | ABV | IBU:</b><br />
				<span id="bodytext">
					<%= @beer.style.name %> | 
					<%= @beer.abv %>% ABV | 
					<% if @beer.ibu != nil || @beer.ibu != "" %>
						<%= @beer.ibu %> IBU's
					<% elsif %>
						???
					<% end %>
					<br /><br />
				</span>

				<b id="bodytitles">Bottle Caps:</b> <span id="bodytext"><%= @beer.posts.count %></span>
				<br /><br />

				<b id="bodytitles">Description:</b><br />
				<span id="bodytext">
					<% if @beer.description != "" || @beer.description != nil %>
						<%= @beer.description %>
					<% end %>
				</span>
			</div>
		</div>
	</div>

	<div class="span6">
		<div id="similaropacity"></div>
		<div id="offset">
			<h3 id="beertitle">Similar Beers:</h3>
			<div class="media-body">
				<ul>
					<% @beers.each do |beer| %>
						<% if beer.style == @beer.style && beer != @beer %>
							<li id="beerlinks"><%= link_to beer.name, beer %> by:  
								<%= link_to beer.brewery.name, beer.brewery %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<hr/>
	</div>
</div>

<div class="row">
	<div class="span8">
		<div id="commentopacity"></div>
		<div id="commentoffset">
			<h2 id="comments"><%= @comments.count %> Reviews </h2>

			<%= render partial: 'beers/comments/comment', collection: @comments %>

			<% if can? :create, Comment %>
				<h4 id="bodytitles">New Comment</h4>
				<%= render partial: 'beers/comments/form', locals: {beer: @beer, comment: @comment} %>
			<% end %>
		</div>
	</div>
</div>