<div class="row-fluid">
	<div class="span6">
		<h2>Recently Drank Beers</h2>
	</div>

	<div class="span6">
		<div class="span4 pull-right">
			<% if can? :create, Post %>
				<%= link_to "New Post", new_post_path, class: 'btn btn-large btn-block' %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<% @posts.each do |post| %>
		<div class="span3">
			<div class="postsquares">
				<div class="media">
					<!-- Image will go here. -->
					<h4 class="media-heading">
						<%= link_to (post.beer.name), post %>
					</h4>
					by: <%= post.brewery.name %>
					<div class="media-body">
						<hr />
						<%= post.user.name %><br />
						<%= time_ago_in_words(post.created_at) %> ago
					</div>
				</div>
			</div>
		</div>
	<% end %>

</div>