<h1>New Post</h1>

<div class="row">

	<div class="span6">
		<%= form_for @post, html: {class: 'form-horizontal', multipart: true} do |post| %>

			<div class="control-group">
				<%= post.label :image, class: 'control-label' %>
				<div class="controls">
					<%= post.file_field :image %>
				</div>
			</div>

			<%= post.fields_for :beer_attributes do |beer| %>

				<div class="control-group">
					<%= beer.label "Beer Name", class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :name %>
					</div>
				</div>

				<%= post.fields_for :brewery_attributes do |brewery| %>

					<div class="control-group">
						<%= brewery.label "Brewery Name", class: 'control-label' %>
						<div class="controls">
							<%= brewery.text_field :name %>
						</div>
					</div>

				<% end %>

				<div class="control-group">
					<%= beer.label :style, class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :style %>
					</div>
				</div>

				<div class="control-group">
					<%= beer.label :abv, class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :abv %> %
					</div>
				</div>

				<div class="control-group">
					<%= beer.label :description, class: 'control-label' %>
					<div class="controls">
						<%= beer.text_area :description %>
					</div>
				</div>

			<% end %>

			<%= post.fields_for :location_attributes do |location| %>

			<div class="control-group">
					<%= location.label :city, class: 'control-label' %>
					<div class="controls">
						<%= location.text_field :city %>
					</div>
				</div>

			<% end %>

			<div class="control-group">
				<div class="controls">
					<%= post.submit "Save", class: 'btn' %>
				</div>
			</div>

		<% end %>
	</div>

	<div class="span4">
		
	</div>

</div>