<h1>New Post</h1>

<div class="row">
	<%= form_for @post, html: {class: 'form-horizontal', multipart: true} do |post| %>
		<div class="span6">
			<!--<div class="control-group">
				<%= post.label :image, class: 'control-label' %>
				<div class="controls">
					<%= post.file_field :image %>
				</div>
			</div>-->

			<%= post.fields_for :beer_attributes do |beer| %>

				<div class="control-group">
					<%= beer.label "Beer Name", class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :name %>
					</div>
				</div>

				<%= post.fields_for :brewery_attributes do |brewery| %>
					<div class="control-group">
						<%= brewery.label "Brewery Name", class: 'control-label' %>
						<div class="controls">
							<%= brewery.text_field :name %>
						</div>
					</div>
				<% end %>

				<div class="control-group">
					<%= beer.label :style, class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :style %>
					</div>
				</div>

				<div class="control-group">
					<%= beer.label :abv, class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :abv %> %
					</div>
				</div>

				<div class="control-group">
					<%= beer.label "IBU", class: 'control-label' %>
					<div class="controls">
						<%= beer.text_field :ibu %> IBU's
					</div>
				</div>

				<div class="control-group">
					<%= beer.label :description, class: 'control-label' %>
					<div class="controls">
						<%= beer.text_area :description, rows: 12 %>
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<%= post.submit "Save", class: 'btn' %>
					</div>
				</div>

			<% end %>
		</div>

		<div class="span6">
			<!-- Add all the brewery details in this part as well as the location. Or maybe just the location details.
			Or have a bool that toggles if checked the attributes should be assigned to the brewery and if not then it 
			is a new location or an existing. -->

			<%= post.fields_for :location_attributes do |location| %>

				<div class="control-group">
					<%= location.label :name, class: 'control-label' %>
					<div class="controls">
						<%= location.text_field :name %>
					</div>
				</div>

				<div class="control-group">
					<%= location.label :address, class: 'control-label' %>
					<div class="controls">
						<%= location.text_field :address %>
					</div>
				</div>

				<div class="control-group">
					<%= location.label :city, class: 'control-label' %>
					<div class="controls">
						<%= location.text_field :city %>
					</div>
				</div>

				<div class="control-group">
					<%= location.label :state, class: 'control-label' %>
					<div class="controls">
						<%= location.text_field :state %>
					</div>
				</div>

				<div class="control-group">
					<%= location.label :zip, class: 'control-label' %>
					<div class="controls">
						<%= location.text_field :zip %>
					</div>
				</div>

				<div class="control-group">
					<%= location.label :phone, class: 'control-label' %>
					<div class="controls bfh-phone">
						<%= location.text_field :phone %>
					</div>
				</div>

			<% end %>
		</div>

	<% end %>
</div>