<!DOCTYPE html>
<html>
<head>
  <title>Hopheads</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="top">

  </div>
  
  <div class="container">
		<ul class="nav nav-tabs">
      <li id="bannerlinks"><%= link_to image_tag("/images/hoplogo1.jpg"), root_path %></li>
			<!--<li id="link"><%= link_to "About", about_path %></li>-->
			<li id="bannerlinks"><%= link_to "Posts", posts_path %></li>

			<div class="pull-right user-info">

				<% if current_user %>
          <span id="bannerlinks">
					 Hello <%= link_to (current_user.name || current_user.email), current_user %>! 
          </span>
          <span id="backgroundlinks">
            <%= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
              <i class="icon-cog"> </i>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
              <i class="icon-share-alt"> </i>
            <% end %>
          </span>

				<% else %>
          <i class="icon-user"> </i>
					<span id="bannerlinks"><%= link_to "Sign In", new_user_session_path %> </span>
				<% end %>
        
			</div>
		</ul>

		<% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

		<%= yield %>

	</div>

  <div class="navbar navbar-fixed-bottom">
    <div id="bottom">
      <div class="container">
        <div class="row">

          <div class="copyright">
            <div class="span5">
              <img src="/images/hoplogo2.jpg" /><br/>
              <small>&copy; 2014 COPYRIGHT HOPHEADS. ALL RIGHTS RESERVED.</small>
            </div>
          </div>
          <!-- These are the links on the bottom right of the page.
          <div class="bottomlinks">
            <div class="span1 offset2">
              About<br/>
              Terms          
            </div>
            <div class="span1">
              Help<br/>
              Privacy          
            </div>
            <div class="span1">
              Contact<br/>
              Blog          
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>


</body>
</html>
